{% extends "base.html" %}
{% block title %}My Cart{% endblock %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="row d-flex border border-dark rounded align-items-center mb-2">
        <div class="col py-2">
            <h3>{{item.name}}</h3>
            <p>{{item.price}}</p>
        </div>
        <form action="/cart-remove" method="post" class="w-25">
			{% csrf_token %}
			<input type="hidden" id="asdf" name="itemID" value="{{item.id}}">
			<button class="btn btn-outline-secondary col-auto m-4 text-danger"
				data-bs-toggle="tooltip"
				data-bs-placement="bottom"
				data-bs-custom-class="custom-tooltip"
				data-bs-title="Remove from cart"
			>
				<i data-feather="trash-2"></i>
			</button>
		</form>
    </div>
    {% empty %}
    <p>You currently do not have anything in your cart.</p>
    {% endfor %}
    {% if object_list %}
    <div style="float: right;">
        <b>Total: ${{ price }}</b>
        <a href="/checkout" class="btn btn-outline-primary btn-align-center me-2">Checkout</a>
    </div>
    {% endif %}
</div>
{% endblock %}
