{% extends "base.html" %}
{% block title %}My Cart{% endblock %}

{% block content %}
<div class="container">
    {% for item in cart %}
    <div class="row d-flex border border-dark rounded align-items-center mb-2">
        <div class="col py-2">
            <h3>{{item.name}}</h3>
            <p>{{item.price}}</p>
        </div>
    </div>
    {% else %}
    <p>You currently do not have anything in your cart.</p>
    {% endfor %}
    {% if cart.length > 0 %}
    <a href="#" class="btn btn-outline-primary btn-align-center me-2">Checkout</a>
    {% endif %}
</div>
{% endblock %}
