{# List of Snacks & Vending Machines #}
{% extends "base.html" %}

{% block title %}List of Items{% endblock %}
{% block content %}
<div class="row border border-dark rounded">
	<div class="col border-end border-dark">
		<h2 class="text-center">Snacks</h2>
		<div class="container">
			{% for item in object_list %}
			<div class="row d-flex border border-dark rounded align-items-center mb-2">
				<div class="col-1 border-end border-dark">
					<img src="{{item.icon}}" class="w-100 p-2">
				</div>
				<div class="col py-2">
					<h3>{{item.name}}</h3>
					<p>${{item.price}} | Calories: {{item.calories}} | Carbs: {{item.carbs}} | Fat: {{item.fat}} | Protein: {{item.protein}} | Sugar: {{item.sugar}}</p>
				</div>
				<form action="/favorites-add" method="post" class="w-25">
					{% csrf_token %}
					<input type="hidden" id="asdf" name="itemID" value="{{item.id}}">
					<button class="btn btn-outline-secondary col-auto m-4 text-danger"
						data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Favorite"
					>
					<i data-feather="heart"></i>
					</button>
				</form>
				<form action="/add-to-cart" method="post" class="w-25">
					{% csrf_token %}
					<input type="hidden" id="asdf" name="itemID" value="{{item.id}}">
					<button class="btn btn-outline-secondary col-auto m-4 text-danger"
						data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						data-bs-custom-class="custom-tooltip"
						data-bs-title="Add to cart"
					>
						<i data-feather="shopping-cart"></i>
					</button>
				</form>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col border-bottom">
		<h2 class="text-center">Vending Machines</h2>
		<div class="container">
			{% for item in vending %}
			<div class="row d-flex border border-dark rounded align-items-center mb-2">
				<div class="col py-2">
					<h3>{{item}}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
